<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<table border="1"><br>
{% for s in zagl %}
	<p><tr> {{s.name_course}} </tr></p>
	<p><tr>{{s.description}}</tr></p>
	{% for a in det %}
	<tr>
		<td>{{a.short_description}}</td>
		<td>{{a.price}}</td>
		<td>{{a.price_month}}</td>
		<td>{{a.sale}}</td>
		<td>{{a.begin_course}}</td>
		<td>{{a.day_lesson}}</td>
		<td>{{a.time_lesson}}</td>
		<td>{{a.place_course}}</td>
		<td>{{a.coach}}</td>
	</tr>
    {% endfor %}
</table>
{% endfor %}
<br>
</body>
</html>

