<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% for s in zagl %}
<table border="1"><br>
	<p> {{s.name_course}}</p>
	<p>{{s.description}}</p>
	{% for a in s.titles.all %}
	<tr>
		<td>{{a.short_description}}</td>
		<td>{{a.price}}</td>
		<td>{{a.price_month}}</td>
		<td>{{a.sale}}</td>
		<td>{{a.begin_course}}</td>
		<td>{{a.day_lesson}}</td>
		<td>{{a.time_lesson}}</td>
		<td>{{a.place_course}}</td>
		<td>{{a.coach}}</td>
	</tr>
    {% endfor %}
</table><br><br><br><br>
{% endfor %}

</body>
</html>

