
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock title %}</title>

    <!-- Bootstrap -->
    <link href="{% static '/static/css/style.css' %}" rel="stylesheet">
  </head>
  <body>



<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="{% url 'designshool' %}">Formir</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% block naw_class_shk_d %}{% endblock %}"><a href="{% url 'designshool' %}">Школа Дизайна</a></li>
        <li class="{% block naw_class_PK %}{% endblock %}"><a href="{% url 'pcshool' %}">Курсы ПК</a></li>
        <li class="{% block naw_class_Graph %}{% endblock %}"><a href="{% url 'graphshool' %}">Графика</a></li>
        <li class="{% block naw_class_Shiya %}{% endblock %}"><a href="{% url 'langshool' %}">ШИЯ</a></li>
        <li class="{% block naw_class_ABR %}{% endblock %}"><a href="{% url 'abrshool' %}">АБР</a></li>
        <li class="{% block naw_class_Buh %}{% endblock %}"><a href="{% url 'buhshool' %}">Школа Бухгалтерии</a></li>
        <li class="{% block naw_class_Ind_z %}{% endblock %}"><a href="{% url 'indshool' %}">Инд Занятия</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

<h2 class="text-info"> {% block zagl %}{% endblock zagl %} </h2>

{% for s in zagl %}
<table class ="table table-striped"><br>
	<h3 class="text-info">{{s.name_course}}</h3>
	<p>{{s.description|safe}}</p>
	<th class="bg-warning">Режим занятий</th>
	<th class="bg-warning">Цена за курс</th>
	<th class="bg-warning">Цена за месяц</th>
	<th class="bg-warning">Скидка</th>
	<th class="bg-warning">Старт занятий</th>
	<th class="bg-warning">Дни недели</th>
	<th class="bg-warning">Время занятий</th>
	<th class="bg-warning">Филиал</th>
	<th class="bg-warning">Препод</th>
	{% for a in s.titles.all %}
	<tr class="bg-success">
		<td >{{a.duration_cours}}</td>
		<td>{{a.price}} грн</td>
		<td>{{a.price_month}} грн</td>
		<td>{{a.sale}}</td>
		<td>{{a.begin_course}}</td>
		<td>{{a.day_lesson}}</td>
		<td>{{a.time_lesson}}</td>
		<td>{{a.place_course}}</td>
		<td>{{a.coach}}</td>
	</tr>
    {% endfor %}
</table>
{% endfor %}
	</div>   


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static '/static/js/bootstrap.min.js' %}"></script>
  </body>
</html>

