<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock title %}</title>

    <!-- Bootstrap -->
    <link href="{% static '/static/css/style.css' %}" rel="stylesheet">
  </head>
  <body>

<script language="JavaScript"> 
if (top.location.search=="") { 
pass = prompt('Введите пароль'); 
if (pass=='1956')
{ alert('Пароль принят') } else { alert('Пароль непринят!'), top.location.href="/" }
}; 
</script>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#">Formir</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
   
  </div><!-- /.container-fluid -->
</nav>


<a href="{% url 'designshool' %}"><button type="button" class="btn btn-primary">Школа Дизайна</button></a>
<a href="{% url 'designshool' %}"><button type="button" class="btn btn-primary">Курсы ПК</button></a>
<a href="{% url 'designshool' %}"><button type="button" class="btn btn-primary">Графика</button></a>
<a href="{% url 'designshool' %}"><button type="button" class="btn btn-primary">ШИЯ</button></a>
<a href="{% url 'designshool' %}"><button type="button" class="btn btn-primary">АБР</button></a>
<a href="{% url 'designshool' %}"><button type="button" class="btn btn-primary">Школа Бухгалтерии</button></a>
<a href="{% url 'designshool' %}"><button type="button" class="btn btn-primary">Инд Занятия</button></a>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static '/static/js/bootstrap.min.js' %}"></script>
  </body>
</html>